@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
  }

  .nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }